.flex-buttons {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-around;
}

.btn {
  flex: 1 1 100%;
  cursor: pointer;
  position: relative;
  /*margin: 30px auto;*/
  margin-right: 0.5rem;
  padding: 0;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  &:last-child {
    margin-right: 0;
  }
  &:hover, &:focus {
    background-color: #27ae60;
  }
  &.blue {
    background-color: #304FFE;
    &:hover, &:focus {
      background-color: #3D5AFE;
    }
  }
  &.orange {
    background-color: #FF9800;
    &:hover, &:focus {
      background-color: #FB8C00;
    }
  }
  &.red {
    background-color: #FF4136;
    &:hover, &:focus {
      background-color: #FF3025;
    }
  }
  span {
    display: block;
    padding: 12px 24px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &:active:before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
    -o-transition: width .2s ease-out, padding-top .2s ease-out;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
}
