@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #e5e9ec;
}

#root {
  padding-left: 2rem;
  padding-right: 2rem;
}

.index-list {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
  list-style: none;
}

.index-list li a {
  text-decoration: none;
  font-size: 2em;
  transition: 0.25s all ease;
  color: #4881ea;
}

.index-list li a:hover {
  font-size: 2.3em;
  color: #5f91ec;
}
