@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #e5e9ec;

}

#root {
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: auto;

}

.index-list {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2em;
  transition: 0.25s all ease;
  color: #4881ea;
}

a:hover {
  color: #5f91ec;
}
